senegal-engine/src/test/resources/ch.senegal.engine.xml/entity-schema.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://senegal.ch/entity"
           xmlns="https://senegal.ch/entity"
           elementFormDefault="qualified">

    <xs:element name="senegal">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="entity"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="entity" >
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="entity-attribute"/>
            </xs:sequence>
            <xs:attribute name="name" type="identifier" use="required" />
            <xs:anyAttribute/>
        </xs:complexType>
    </xs:element>

    <xs:element name="entity-attribute">
        <xs:complexType>
            <xs:attribute name="name" type="identifier" use="required" />
            <xs:attribute name="type" type="attribute-type" use="required"/>
            <xs:anyAttribute/>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="attribute-type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TEXT"/>
            <xs:enumeration value="NUMBER"/>
            <xs:enumeration value="BOOLEAN"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="([a-zA-Z])([a-zA-Z0-9_])*"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
