senegal-engine/src/test/resources/ch.senegal.engine.xml/kt-schema.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:entity="https://senegal.ch/entity"
           targetNamespace="https://senegal.ch/kt"
           xmlns="https://senegal.ch/kt"
           xsi:schemaLocation="https://senegal.ch/entity entity-schema.xml"
           elementFormDefault="qualified">


    <xs:attribute name="package-name" type="packageNameType" default="ch.senegal.mypackage" />
    <xs:attribute name="class-name" type="classNameType" />

    <xs:simpleType name="packageNameType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([a-z])([a-z.])*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="classNameType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([A-Z])([a-zA-Z0-9])*"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
